<!-- ContactInfos.ejs -->
<!-- Render contact information content using dummyCvState.infos -->
<!-- infos: {
    image: "path-to-profile-image.jpg",
    firstName: "Moncef",
    lastName: "Zermache",
    jobTitle: "Software Engineer",
    country: "United States",
    city: "San Francisco",
    state: "CA",
    phoneNumber: "+1234567890",
    email: "john@example.com",
  }, -->

<div class="contact-info">
  <style>

  </style>
  <h2 class="title">Contact Infos</h2>
  <ul class="">
    <% for (var key in infos) { %>
      <li> <%= infos[key] %> </li>
    <% } %>
  </ul>
</div>
