<!-- Education.ejs -->
<!-- Render education content using dummyCvState.education -->
<!-- education: [
    {
      schoolName: "Higher School of Computer Science and Technology",
      location: "Bejaia",
      degree: "Bachelor of Science",
      field: "Computer Science",
      endMonth: "May",
      endYear: "2018",
    },
  ], -->
<div class="education">
  <style></style>
  <h2 class="title">Education</h2>
  <div class="education-item">
    <h2 class="sub-title">
      Higher School of Computer Science and Technology - Bejaia
    </h2>
    <p>Nov 2020 - Present</p>
    <p>AI & Data Science (Master 1)</p>
  </div>
  <div class="education-item">
    <h2 class="sub-title">
      Higher School of Computer Science and Technology - Bejaia
    </h2>
    <p>Nov 2020 - Present</p>
    <p>AI & Data Science (Master 1)</p>
  </div>
</div>
