<!-- Experience.ejs -->
<!-- Render job experience content using dummyCvState.jobExperience -->
<!-- jobExperience: [
    {
      jobTitle: "Software Developer",
      companyName: "ABC Tech",
      startMonth: "January",
      endMonth: "December",
      startYear: "2018",
      endYear: "2021",
      city: "New York",
      state: "NY",
      currentlyWorkHere: false,
      responsibility: "Developed and maintained web applications.",
    },
  ], -->

<div class="experiences">
  <style></style>
  <h2 class="title">experiences</h2>
  <div class="experience">
    <h2 class="sub-title">Freelance (Digital Products Designer)</h2>
    <p>Jul 2022 - Present</p>
    <p>
      I’ve Been Working On different design solutions, Competitors Analysis,
      Wireframes, User flows, information Architecture and high-fidelity
      mockups.
    </p>
    <p>My primary responsibilities include:</p>
    <ul>
      <li>
        Regularly interact with clients/stakeholders to Gather requirements,
        understand project goals and objectives.
      </li>
      <li>
        Regularly interact with clients/stakeholders to Gather requirements,
        understand project goals and objectives.
      </li>
      <li>
        Regularly interact with clients/stakeholders to Gather requirements,
        understand project goals and objectives.
      </li>
      <li>
        Regularly interact with clients/stakeholders to Gather requirements,
        understand project goals and objectives.
      </li>
    </ul>
  </div>
</div>
