<!-- Header.ejs -->
<!-- This EJS partial renders the header content using the provided 'infos' object -->
<!-- 'infos' object contains information about the user, such as name, job title, contact details, etc. -->
<!-- Example 'infos' object: 
    {
      firstName: "Moncef",
      lastName: "Zermache",
      jobTitle: "Software Engineer",
      country: "United States",
      city: "San Francisco",
      state: "CA",
      phoneNumber: "+1234567890",
      email: "john@example.com",
    } 
-->

<div class="header">
  <!-- Internal styling for the header -->
  <style>
    .header {
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    .fullname {
      display: flex;
      gap: 5px;
      font-weight: bold;
      border-bottom: 2px solid black;
    }
  </style>

  <!-- Display the user's full name -->
  <div class="fullname">
    <p><%= infos.firstName %></p>
    <p><%= infos.lastName %></p>
  </div>

  <!-- Display the user's email and phone number -->
  <p><%= infos.email %></p>
  <p><%= infos.phoneNumber %></p>
</div>
