<!-- Languages.ejs -->
<!-- Render languages content using dummyCvState.languages -->
<!-- languages: [
    {
      language: "English",
      level: "Fluent",
    },
    {
      language: "Spanish",
      level: "Intermediate",
    },
  ], -->
<div class="languages">
  <h2 class="title">Languages</h2>
  <ul>
    <li><span>English</span><span>Advanced(B2~C1)</span></li>
    <li><span>English</span><span>Advanced(B2~C1)</span></li>
    <li><span>English</span><span>Advanced(B2~C1)</span></li>
  </ul>
</div>
