<!-- Languages.ejs -->
<!-- Render languages content using dummyCvState.languages -->
<!-- languages: [
    {
      language: "English",
      level: "Fluent",
    },
    {
      language: "Spanish",
      level: "Intermediate",
    },
  ], -->
<div class="languages">
  <style>
    
  </style>
  <h2 class="title">Languages</h2>
  <ul class="">
    <% languages.forEach((item)=>{ %>
      <li>
        <%= item.language %>
        <%= item.level %>
      </li>
    <% }); %>
  </ul>
</div>
