<!-- ObjectiveStatement.ejs -->
<!-- Render objective statement content using dummyCvState.summary -->
<!-- summary:
    "Hello, i’m Mohamed, a passionate Digital Products (UI/UX) designer with more then 2 years of experience in the domain, my objective is to leverage my creative skills, problem-solving abilities, and help businesses launch or develop their digital products following the best product development practices. As a master student, I am seeking a Contract, remote or hybrid part-time UI/UX designer position.", -->
<div class="objective-statement">
  <%- include('Title', { title: "Objective Statement" ,color:color }) %>
  <p><%=summary %></p>
</div>
