<h2 class="title <%= color%>">
  <style>
    .red {
      color: red;
    }
    .blue {
      color: #294aec;
    }
    .green {
      color: green;
    }
    .yellow {
      color: yellow;
    }
  </style>
  <%= title%>
</h2>
